@import "../../styles/colors.css";
@import "../../styles/media.css";

.button {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    border: none;
    user-select: none;
    border-top: 1px solid var(--color-light-gray);
    border-right: 1px solid var(--color-light-gray);

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;

    @media (--breakpoint-up-bp2) {
        font-size: 50px;
    }
}

.button:active {
    background-color: var(--color-mid-gray);
}

.operand {
    color: var(--color-white);
    background-color: var(--color-blue);
}

.operation {
    color: var(--color-dark-gray);
    background-color: var(--color-yellow);
}

.extended-button {
    flex-grow: 2;
}