.button {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
    font-size: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    user-select: none;
    border-top: 1px solid #666666;
    border-right: 1px solid #666666;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.button:active {
    background-color: #b2b2b2;
}

.operand {
    color: #fff;
    background-color: #1795d4;
}

.operation {
    color: #333;
    background-color: #FED800;
}

.extended-button {
    flex-grow: 2;
}