.display {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #373D45;
    color: #fff;
    text-align: right;
    font-size: 50px;
    justify-content: flex-end;
    align-items: center;
}

.display > p {
    margin: 0;
    padding: 30px 10px 10px 10px;
}